{
  "root": true,
  "plugins": ["import"],
  "extends": [
    "plugin:import/recommended",
    "finn",
    "finn/node",
    "finn-prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false
      }
    ]
  },
  "overrides": [
    {
      "files": "test/**/*",
      "env": {
        "jest": true
      },
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true
          }
        ]
      }
    }
  ]
}
