language: node_js
node_js:
  - '8'
script:
  - npm test
  - npm run lint
cache:
  npm: true
  directories:
    - node_modules
after_success:
  - npm run semantic-release
branches:
  only:
    - master
    - "/^greenkeeper/.*$/"